---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-color:{{page.header-img-color}};background-image: url('{{ site.baseurl }}{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                    <span class="subheading">{{ page.description }}</span>
                    <hr class="small">
                    <div class="social-icons">
                        <a class="icon-twitter" href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter"></i></a>
                        &nbsp;
                        <a class="icon-github" href="https://github.com/{{ site.github_username }}"><i class="fa fa-github"></i></a>
                        &nbsp;
                        <a class="icon-linkedin" href="https://www.linkedin.com/in/{{ site.linkedin_username }}"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			{{ content }}
		</div>
	</div>
</div>

<hr>
